 

form {
    width: 300px;
    margin: 0 auto;
}

input
{
	border-radius: 25px;
	border-color: Grey;
	margin: 10px;
	width: 200px;
	height: 40px;
}

body { 
 	background-image:linear-gradient(to bottom right,#000000 ,#696969 );
 	min-width: 100vw;
 	min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    
}


.nv2{
	
	background-image: linear-gradient(#33FFFF,#48D1CC);
	height: 60px;
}
.nv2 ul li a{

	color: white;
	margin-bottom: 20px;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: 500;


}


.nv2 ul li{
	display: inline;
}

.nv{
	
	background-image: linear-gradient(#33FFFF,#48D1CC);
	
	
}
.nv li{
	display: inline;
}
.nv  li a{

	color:  black;
	
	margin-bottom: 20px;
    padding: 14px 16px;
    font-size: 20px;
    display: inline;
    font-weight: 500;
}
.nv1{
	
	background-image: linear-gradient(#33FFFF,#48D1CC);
}
.nv1 li a{

	color: black;
	margin-bottom: 20px;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: 500;


}


.md{

	color: white;
	
	margin-bottom: 20px;
    padding: 14px 16px;
    font-size: 20px;
    display: inline;
    font-weight: 500;
}

.play{
	width: 372px;
	box-shadow: 10px 10px 5px ;
	
	background-image: linear-gradient(to bottom right,#000000 ,#555555);
	margin-bottom: 10px;
	margin-right: 1px;
}