{% extends 'basic/base.html' %}
{%load static%}

{%block navb%}
	
		
		<nav class="navbar navbar-expand-sm nv" >
			<a class="navbar-brand" href="/home/">
				<img src="{% static 'basic/logo.png' %}" alt="Logo" style="width:40px;">
			</a>
			<ul style="list-style: none;">
			<li class="nav-item"style="margin:10px">
				<a class="nav-link" href="/topic/">Collections</a>
			</li>

			{%if not user.is_authenticated%}
			<li class="nav-item"style="margin:10px">
				<a class="nav-link" href="/signin/">Login</a>
			</li>

			{%endif%}

			{%if user.is_authenticated%}
			<li class="nav-item"style="margin:10px">
				<a class="nav-link" href="/logout/">Sign Out</a>
			</li>
			{%endif%}









			<li class="nav-item"style="margin:10px">
				<a class="nav-link" href="/createplayll/">Create a playlist</a>
			</li>






		</ul>
	</nav>
{%endblock%}


	
									

		