
    
    {% load static %}

<html>
  <head>{%load static%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/basic/style1.css">
  </head>
  <body>



<div class="container">

    <nav class="navbar navbar-expand-sm nv1">
   <a class="navbar-brand" href="/">
    <img src="{% static 'basic/logo.png' %}" alt="Logo" style="width:40px;">
  </a>
  
<li class="nav-item"style="margin:10px">
      <a class="nav-link" href="/topic/">Collections</a>
    </li>

  <h2 style="align: center">You Col</h2>


  <li class="nav-item"style="margin:10px">
      <a class="nav-link" href="/">Logout
</nav> 
</div>
    {% if user.is_authenticated %}
    <div class="container" id="1" style="align:right" >

      <div class="card" style="width: 18rem; display:inline-block">
        <!-- Button to Open the Modal -->
        {% if user == playlist.user %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="width: 100px;">
        Add Videos
        </button>
        {% endif %}
        <!-- The Modal -->
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Add url</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                <form action="/{{topic_id}}/{{pid}}/addurl/" method="POST">
                  {% csrf_token %}
                  <input type="text" name="url" required>
                  <input type="Submit" value="Add "name="Add" class="btn btn-primary" >
                </form>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer">
                
              </div>
            </div>
          </div>
        </div>
      </div>
        {%endif%}
        
        <div class="container">
          <div class="row">
            
            {%for c in posts%}
            <div class="col-md-6">
              <div class="card" style="width: 550;" align="center">
                <div class="card-body" >
                  <!--{{c}}-->
                  <iframe width="500" height="300" src="https://www.youtube.com/embed/{{c}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br>
                </div>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
        
        
        
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
  </html>