{%extends "basic/base.html"%}
{%block body%}
	<div class="card" style="width: 26rem;" align="center">
  <div class="card-body">
  	<form action="/signup/" method="POST">
	{% csrf_token %}
	<input type="text" name="username" placeholder="Username"required >
	<br>
	
	<input type="text" name="email" placeholder="email" required>
	<br>
	<input type="password" name="password" placeholder="password" required>
	<br>
	<input type="password" name="repassword" placeholder="Re-type password" required>
<br>

	<input type="Submit" value="Create account"name="Create account" >
</form>




  </div>
</div>
{%endblock%}






	